
<StackLayout>
    <ListPicker id="guestPicker" [items]="agencia_origen" selectedIndex = "0" width="85%" (selectedIndexChange)="selectedIndexChanged($event)"></ListPicker>
    <button text="Confirmas Agencia" class="btn btn-primary" (tap)="registrar_agencia()"></button>
</StackLayout>
<StackLayout>
    <ListPicker id="guestPicker" [items]="agencia_origen" selectedIndex = "0" width="85%" (selectedIndexChange)="selectedIndexChanged($event)"></ListPicker>
    <button text="Confirmas Agencia" class="btn btn-primary" (tap)="registrar_agencia()"></button>
</StackLayout>