<scrollView>
        
    <StackLayout  orientation="vertical"class="form"> 
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
            <label class="texto" text="Piso:" ></label>
            <TextField class= "input input-border" ></TextField>
            <label class="texto" text="Zona:" ></label>
            <TextField class= "fiel" ></TextField>
            <label class="texto" text="Asiento:" ></label>
        </StackLayout> 
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Origen:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <TextField (tap)="getagenciaorigen()" hint="Ingrese la agencia origen" class= "input input-border" [text]="agencia_sel_ori" ></TextField>
        </StackLayout>  
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Destino:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <TextField (tap)="getagenciadestino()" hint="Ingrese la agencia destino" class= "input input-border" [text]="agencia_sel_dest" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <ListPicker [items]="tipos_documentos" selectedIndex="0" width=75%></ListPicker>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <ListPicker [items]="tipos_documentos" selectedIndex="0" width=75%></ListPicker>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Documento de Identidad" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <TextField (tap)="getagenciadestino()" hint="Ingrese la agencia destino" class= "input input-border" [text]="agencia_sel_dest" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" class="input-field">
                <TextField hint="Ingrese su n° de documento" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Apellido Paterno:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
            <TextField hint="Ingrese su apellido paterno" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Apellido Materno:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <TextField hint="Ingrese su apellido materno" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Nombres:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
            <TextField hint="Ingrese sus nombres" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout orientation="horizontal" >
            <label class="texto2" text="Fecha de nacimiento:" ></label>
            <label class="texto" text="Edad:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
            <TextField hint="Ingrese su fecha de nacimiento" class= "input input-border" ></TextField>
            <TextField hint="Ingrese su edad" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Nacionalidad:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <ListPicker [items]="nacionalidad" selectedIndex="0" width=75%></ListPicker>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Telefono de contacto:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <TextField hint="Ingrese su telefono de contacto" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="E-mail:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <TextField hint="Ingrese su e-mail" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Empresa de referencia:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <TextField hint="Ingrese su empresa de referencia" class= "input input-border" ></TextField>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <label class="texto" text="Pelicula:" ></label>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <ListPicker [items]="peliculas" selectedIndex="0"opened="dropDownOpened" closed="dropDownClosed" 
                selectedIndexChanged="dropDownSelectedIndexChanged"
                row="0" colSpan="2"8 width=75%></ListPicker>
        </StackLayout>
        <StackLayout horizontalAlignment="center" orientation="horizontal" >
                <Button col="0" row="2" text="Descartar Asiento" class="btn btn-primary"></Button>
                <Button col="0" row="2" text="Confirmar Asiento" class="btn btn-primary"></Button>
        </StackLayout>
        
    </StackLayout>
</scrollView>
