  .fiel{
    width:15%;
    margin-top:10em;
  }
  .fiel2{
      width:75%;
      margin-top:10em;
  }
  .fiel3{
    width:35%;
    margin-top:10em;
    margin-left:10em;
    margin-right:10em;
    }
  .texto{
      vertical-align: middle;
      margin-top:15em;
      margin-right: 10em;
      margin-left  : 10em;
  }
  .texto2{
    vertical-align: middle;
    margin-top:15em;
    margin-left:12%;
    margin-right:7%;
}